ul.nav {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: $nav-height;

  > li {
    display: inline-block;
    height: 100%;

    &.active {
      > a {
        color: color("black");
      }
    }

    > a {
      align-items: center;
      color: lighten(color("black"), 50%);
      display: inline-flex;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;
      height: 100%;
      transition: $transition-speed-base;

      &:hover {
        color: color("black");
      }
    }
  }
}
