ul.nav {
  display: inline-flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: $nav-height;

  &.vertical {
    flex-direction: column;
    height: auto;
    width: 100%;

    > li {
      height: auto;
      width: 100%;

      > a {
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        height: auto;
        width: 100%;
      }
    }
  }

  > li {
    display: inline-block;
    height: 100%;

    &.active {
      > a {
        color: color("black");
      }
    }

    > a {
      align-items: center;
      color: lighten(color("black"), 50%);
      display: inline-flex;
      justify-content: center;
      text-decoration: none;
      padding: 0 1rem;
      height: 100%;

      &:hover {
        color: color("black");
      }
    }
  }
}
