$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
) !default;

$colors: (
  "black": hsl(0, 0%, 13%),
  "blue": hsl(207, 79%, 52%),
  "gray": hsl(0, 0%, 90%),
  "white": hsl(0, 0%, 100%)
) !default;

$indexes: (
  "navbar": 1000
) !default;

$transition-speed-base: 0.2s;

$font-size-small: 8px !default;
$font-size-base: 16px !default;
$font-size-large: 24px !default;

$font-headline: "Oswald" !default;
$font-body: "Open Sans" !default;

$nav-height: 3rem !default;

$navbar-height: 4rem !default;
